---
import Page from "../layouts/Page.astro"
import comments from "../assets/comments2024.json"
import BasicButton from "../components/BasicButton.astro"

type Comment = {
    role: string;
    lastName: string;
    firstName: string;
};
---
<Page title="About">
    <div class="mx-auto w-3/4 my-8">
        <div class="text-center text-4xl">
            <span class="font-bold">能登半島地震・学生による支援募金プロジェクト</span>について
        </div>
        <div class="text-3xl mt-8 text-center">運営目的</div>
        <div class="text-xl mt-4 xl:text-center"><span class="font-bold">被災地に思いを届ける</span> - 全国の学生で被災地を支援することで、同じ目線での支援を提供すること。</div>
        <div class="text-3xl mt-8 text-center">運営体制</div>
        <img class="mx-auto mt-4 w-full max-w-md" src="/img/activity2024/image.png">
        <div class="text-3xl mt-8 text-center">メンバーについて</div>
        <div class="text-2xl mt-4 text-center">幹部</div>
        {
            comments
                .map((comment: Comment) => {
                    return <div class="text-xl mt-4 text-center">{comment.role}：{comment.lastName}{comment.firstName}</div>
                })
        }
        <div class="text-2xl mt-4 text-center">メンバー分布</div>
        <img class="mx-auto mt-4 w-full max-w-md" src="/img/map.png">
        <div class="text-3xl mt-8 text-center">代表挨拶文</div>
        <div class="text-2xl mt-4 text-center font-bold">被災地に<wbr />思いを届ける</div>
        <div class="text-xl mt-4">
            2024年1月1日に起きた能登半島地震は、石川県を中心に甚大な被害を引き起こし、現在もその被害は拡大しています。2011年の東日本大震災の時の記憶はほとんどなく、教科書で読んだような情報しか知らなかった私は今回のニュースを見た時、本当にこんな恐ろしいが起こるんだと衝撃を受けました。そしてすぐに、私たち学生にも何かできることはないかと考え、この団体をたち上げました。
        </div>
        <div class="text-xl mt-4">
            私たちの活動を通して、全国の学生が被災地を思っているということ・そしてこういう時こそ助け合いが大切なんだということを伝えていきます。
        </div>
        <div class="text-xl mt-4">
            日本は災害大国と呼ばれ、今回のような地震の他にも大きな災害が今後も起こっていくことは、今後も変わることはないと思います。その中でも、全国の学生で助け合える環境があれば、少しでも安心できるのではないかなと思っています。今後とも、精一杯活動して参ります。よろしくお願いします。
        </div>
        <a href="/activity2023">
            <BasicButton className="mt-8 text-center w-full">2023年度の活動</BasicButton>
        </a>
        <a href="/activity2024">
            <BasicButton className="mt-8 text-center w-full">2024年度運営メンバー</BasicButton>
        </a>
        <div class="text-3xl mt-8 text-center">活動に対する応援メッセージ</div>
        <div class="text-xl mt-4">
            この度の被災に当たり、強く心を傷めております。私共の生業とするお菓子を通して、できる限りのご支援を致したく、既に会社を挙げて体勢を整えております。私共の出来ることには限りがありましょうが、甘き一片により、少しでもお力になれれば幸甚に存じます。私はかつてミッションスクールに通っておりました。敬虔な信者という訳でもなく、凡庸な学生ではありましたが、こんな言葉を憶えています。「神様は乗り越えられない試練は与えない」のだとか。月並みですが、今は「頑張って下さい」、の言葉しか浮かびません。共に試練と向き合い、共に戦いましょう。止まなかった雨はありません。ネバーギブアップ！
        </div>
        <div class="text-xl mt-4">
            （株）ブールミッシュ、吉田菊次郎拝
        </div>
        <a href="https://www.boulmich.co.jp/fondateur/">
            <BasicButton className="mt-8 text-center w-full">吉田様のプロフィール</BasicButton>
        </a>
        <div class="text-3xl mt-8 text-center">後援</div>
        <div class="mt-8 grid grid-cols-1 sm:grid-cols-3 gap-4">
            <a href="https://steenz.jp">
                <img src="/img/purple.png" class="m-auto sm:ms-0 max-w-32">
            </a>
            <div class="text-lg sm:col-span-2 my-auto">steenz - 多様性時代を駆け抜ける10代が、「自分」と「仲間」を見つけるメディア＆コミュニティ</div>
        </div>
        <div class="mt-8 grid grid-cols-1 sm:grid-cols-3 gap-4">
            <a href="https://dev-trans.github.io">
                <img src="/img/TRANs.b5f09115.svg" class="m-auto sm:ms-0 max-w-32">
            </a>
            <div class="text-lg sm:col-span-2 my-auto">TRANs（生徒会情報機構） - 生徒会のデジタル委員会やICT委員会などの情報共有・知見交流・技術共有・システム統合に向けて設立された機関</div>
        </div>
    </div>
</Page>
