---
import Page from "../layouts/Page.astro"
import CommentBox from "../components/Comment.astro"
import comments from "../assets/comments2023.json"

type Comment =  {
    role: string;
    lastName: string;
    firstName: string;
    image?: string;
    comment?: string;
    onList: boolean;
};

---
<Page title="2023年度の活動">
    <div class="mx-auto w-3/4 my-10">
        <div class="text-center text-4xl font-bold mb-8">2023年度の活動</div>
        <div class="text-center text-3xl font-bold">幹部挨拶文</div>
    {
        comments
            .filter((comment: Comment) => comment.comment && comment.onList)
            .map((comment: Comment) => {
                return <CommentBox {...comment} />
                    <hr class="border border-gray-300 mt-8">
            })
    }
    </div>
    <div class="mx-auto w-3/4 my-10">
        <div class="text-center text-3xl font-bold">本部メンバー表</div>
        <img class="mx-auto mt-4 w-full max-w-md" src="/img/activity2023/honbu.png">
    </div>
    <div class="mx-auto w-3/4 my-10">
        <div class="text-center text-3xl font-bold">支部幹部挨拶文</div>
    {
        comments
            .filter((comment: Comment) => comment.comment && !comment.onList)
            .map((comment: Comment) => {
                return <CommentBox {...comment} />
                    <hr class="border border-gray-300 mt-8">
            })
    }
    </div>
    <div class="mx-auto w-3/4 my-10">
        <div class="text-center text-3xl font-bold">支部メンバー表</div>
        <img class="mx-auto mt-4 w-full max-w-md" src="/img/activity2023/shibu.png">
    </div>
    <div class="mx-auto w-3/4 my-10">
        <div class="text-center text-3xl font-bold">今までの募金結果</div>
        <div class="mt-4 grid grid-cols-3 gap-1">
        {
            [...Array(7)]
                .map((_, i) => String(i+1))
                .map((num: string) => {
                    return <img src={`/img/activity2023/bokin/${num}.jpg`}>
                })
        }
        </div>
    </div>
    <div class="mx-auto w-3/4 my-10 text-center text-gray-700 text-sm">名前の掲載を許可したメンバーのみ、掲載しております。</div>
</Page>
