---
import Page from "../layouts/Page.astro"
import CommentBox from "../components/Comment.astro"
import comments from "../assets/comments.json"

type Comment =  {
    role: string;
    lastName: string;
    firstName: string;
    image: (string | null);
    comment: (string | null);
};

---
<Page title="幹部挨拶文">
    <div class="mx-auto w-3/4 my-10">
        <div class="text-center text-4xl font-bold">幹部挨拶文</div>
    {
        comments
            .filter((comment: Comment) => comment.comment)
            .map((comment: Comment) => {
                return <CommentBox {...comment} />
                <hr class="border border-gray-300 mt-8">
            })
    }
    </div>
</Page>
