---
import Page from "../layouts/Page.astro"
import CommentBox from "../components/Comment.astro"
import comments from "../assets/comments.json"

type Comment =  {
    role: string;
    lastName: string;
    firstName: string;
    image: (string | undefined);
    comment: (string | undefined);
};

---
<Page title="幹部挨拶文">
    <div class="mx-auto w-3/4 my-10">
        <div class="text-center text-4xl font-bold">幹部挨拶文</div>
    {
        comments.map((comment: Comment) => {
            return <CommentBox {...comment} />
        })
    }
    </div>
</Page>
