---
import Page from "../layouts/Page.astro"
import BasicButton from "../components/BasicButton.astro"
import {
  IconBrandInstagram,
  IconBrandX,
  IconBrandGmail,
} from "@tabler/icons-preact"
---
<Page title="TOP">
 <div class="flex place-content-center py-10 min-h-[45vh] bg-[url('/img/50154530252_6799410f96_o.png')] bg-center bg-cover">
  <div class="container px-5 place-self-center flex place-content-center">
   <div class="text-3xl sm:text-4xl font-bold bg-yellow-300 text-center px-8 py-3 opacity-90 text-violet-900">
    <p class="text-2xl">能登半島地震</p>
    <p class="my-2">学生による支援募金</p>
    <p>プロジェクト</p>
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSfWF2PLbj0kLofyRd05qMQEY02-31jYuJQ4u15p8kdp9QCKRA/viewform">
     <BasicButton className="mt-4">参加する</BasicButton>
    </a>
   </div>
  </div>
 </div>
 <div class="my-4 w-5/6 mx-auto">
  <div class="bg-yellow-300 p-6 rounded-xl">
   <p class="text-xl">令和６年能登半島地震の被災地を支援するため生徒会活動や課外活動を行っている全国の学生を集めています！</p>
    <div class="text-center mt-4">
     <a href="/about">
      <BasicButton>About</BasicButton>
     </a>
     <a href="/media">
      <BasicButton>Media</BasicButton>
     </a>
    </div>	
    <hr class="bg-violet-900 border-0 h-px my-4">
    <p class="text-2xl text-center">LINKs</p>
    <div class="text-center">
     <a href="https://www.instagram.com/noto.studentsfund2024" class="inline-block m-2"><IconBrandInstagram class="size-12"/></a>
     <a href="https://twitter.com/noto_funds" class="inline-block m-2"><IconBrandX class="size-12"/></a>
     <a href="mailto:hukko.bokin.gakusei24@gmail.com" class="inline-block m-2"><IconBrandGmail class="size-12"/></a>
    </div>
    <a href="/contacts" class="text-center">
     <BasicButton className="mt-2">お問い合わせ</BasicButton>
    </a>
  </div>
 </div>
</Page>
