---
import Page from "../layouts/Page.astro"
import {
  IconBrandInstagram,
  IconBrandX,
} from "@tabler/icons-preact"
---
<Page title="能登半島支援・学生支援募金本部">
	<div class="flex place-content-center py-10 min-h-[45vh] bg-[url('/50154530252_6799410f96_o.png')] bg-center bg-cover">
		<div class="container px-5 place-self-center flex place-content-center">
		  <div class="">
			<div class="text-4xl sm:text-5xl font-bold bg-yellow-300 text-center px-8 py-3 opacity-90 text-violet-900">
			  <p class="text-3xl">能登半島</p>
			  <p class="my-2">学生支援募金</p>
			  <p>プロジェクト</p>
			</div>
		  </div>
		</div>
	</div>
	<div class="my-4 bg-yellow-300 w-5/6 mx-auto p-6 rounded-xl">
		<p class="text-xl">令和６年能登半島地震で被災した北陸地方の学生たちを支援するため生徒会活動や課外活動を行っている全国の学生を集めています！</p>
		<hr class="bg-violet-900 border-0 h-px my-4">
		<p class="text-2xl text-center">- LINKS -</p>
		<div class="text-center">
			<a href="https://www.instagram.com/noto.studentsfund2024" class="inline-block m-2"><IconBrandInstagram class="size-12"/></a>
			<a href="https://twitter.com/hukkobokinbystu" class="inline-block m-2"><IconBrandX class="size-12"/></a>
			<a href="https://line.me/ti/g2/1RGk9fTsySWcRDUQaJ6tzi_-OBPC1za9bvCysA" class="inline-block m-2"><img src="./IconBrandOpenChatBlack.svg" class="h-12"></a>
		</div>
		<!--SNSのアイコンやJOINボタンなど。検討 -->
	</div>
</Page>
