---
import {
  IconBrandInstagram,
  IconBrandX,
} from "@tabler/icons-preact"
---

<div class="p-4 bg-gray-800 text-white w-full">
  <div class="flex flex-wrap gap-4 justify-around">
    <div>
      <div>能登半島支援・学生支援募金本部</div>
    </div>
    <div>
      <div class="grid grid-cols-3 gap-3">
        <a href="https://www.instagram.com/noto.studentsfund2024"><IconBrandInstagram class="h-5"/></a>
        <a href="https://twitter.com/hukkobokinbystu"><IconBrandX class="h-5"/></a>
        <a href="https://line.me/ti/g2/1RGk9fTsySWcRDUQaJ6tzi_-OBPC1za9bvCysA"><img src="./IconBrandOpenChat.svg" class="h-5"></a>
      </div>
    </div>
  </div>
</div>
