---
import {
  IconBrandInstagram,
  IconBrandX,
  IconBrandGmail,
} from "@tabler/icons-preact"
---

<div class="p-4 bg-gray-800 text-white w-full">
  <div class="flex flex-wrap gap-4 justify-around">
    <div>
      <div class="text-sm">能登半島地震・学生による支援募金プロジェクト</div>
    </div>
    <div>
      <div class="grid grid-cols-3 gap-3">
        <a href="https://www.instagram.com/noto.studentsfund2024"><IconBrandInstagram class="h-5"/></a>
        <a href="https://twitter.com/noto_funds"><IconBrandX class="h-5"/></a>
        <a href="mailto:hukko.bokin.gakusei24@gmail.com"><IconBrandGmail class="h-5"/></a>
      </div>
    </div>
    <div>Created by <a href="https://trans.stki.org/" class="underline">TRANs</a></div>
  </div>
</div>
