---
---
<div class="flex backdrop-blur-xl p-4 bg-white/40 shadow-md">
  <div>
    <a href="/">
      <div class="text-bold flex gap-2 items-center">
        <img src="/logo.png" alt="TRANs" class="h-10" />
        <p class="text-base sm:text-xl font-bold">学生支援募金プロジェクト</p>
      </div>
    </a>
  </div>
</div>
