---
---
<div class="flex backdrop-blur-xl p-4 bg-white/40 shadow-md">
  <div>
    <a href="/">
      <div class="text-bold flex gap-2 items-center">
        <img src="/logo.png" alt="TRANs" class="size-7 rounded-full scale-150 overflow-hidden" />
        <p class="text-sm sm:text-base font-bold">能登半島地震・学生による支援募金プロジェクト</p>
      </div>
    </a>
  </div>
</div>
