---
---
<div class="flex border drop-shadow-md p-4 bg-white opacity-90">
  <div>
    <a href="/">
      <div class="text-bold flex gap-2 items-center">
        <img src="/logo.png" alt="TRANs" class="h-10" />
        <p class="text-base sm:text-xl font-bold">能登半島地震・学生支援募金本部</p>
      </div>
    </a>
  </div>
</div>
